# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Môi trường ảo (Virtual Environments)
# Rất quan trọng để bỏ qua thư mục này
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# File chứa biến môi trường và thông tin nhạy cảm
.env
.env.*
!.env.example

# File CSDL (Databases)
*.sqlite3
*.db
*.db-journal

# File log
*.log

# Cấu hình của IDE và trình soạn thảo mã
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# File hệ điều hành
.DS_Store
Thumbs.db
ehthumbs.db